APP_NAME="My Note API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=my_note
DB_USERNAME=postgres
DB_PASSWORD=change-me
DB_SSLMODE=prefer
